@charset "UTF-8";
body {
    background-image: url(../images/sea-edge-79ab30e2.png);
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
    width: 1127px;
    padding: 5px, 5px;
    text-indent: 6px;
    background-position: 0% 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.CSStest {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    padding-top: 0px;
}
.subtitles {
    text-align: center;
    font-style: normal;
    font-size: 20px;
    width: 151px;
    height: 37px;
    border-radius: 20px;
    text-indent: -4px;
    line-height: 35px;
    background-image: url(../images/sea-edge-79ab30e2.png);
    color: #000000;
    padding-left: 0px;
    margin-left: 10px;
}
#bigger {
    height: 42px;
    width: 156px;
    text-indent: 1px;
    line-height: 40px;
}

div div img {
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.background {
    background-color: #000000;
    padding-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 5px;
    width: 1150px;
    color: #FFFFFF;
}

p {
    margin-left: 4px;
}
.background #underlined {
    text-decoration: underline;
}

.my-container {
    border: 2px solid black;
    margin-left: 2px;
    width: 1140px;
    margin-right: 2px;
    padding: 3px;
    margin-bottom: 10px;
}
