@charset "UTF-8";
body {
    background-image: url(../images/sea-edge-79ab30e2.png);
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
}

.CSStest {
    background-color: #FFFFFF;
    height: 175px;
    border-radius: 20px;
    width: 1061px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
